<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.jingbin.kotlinapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basis.classproperty.PersonActivity" />
        <activity android:name=".basis.enumwhen.enumcode.EnumWhenActivity" />
        <activity android:name=".website.srart.basic.BasicActivity" />
        <activity android:name=".basis.enumwhen.whencode.WhenActivity" />
        <activity android:name=".website.srart.habit.HabitUsageActivity" />
        <activity android:name=".basis.whilefor.WhileForActivity" />
        <activity android:name=".basis.trycatch.TryCatchActivity" />
        <activity android:name=".object.Object1Activity" />
        <activity android:name=".object.Object2Activity" />
        <activity android:name=".object.Object3Activity" />
        <activity android:name=".object.Object4Activity" />
        <activity android:name=".function.SetOfActivity" />
        <activity android:name=".website.ClassesAndObjectsActivity" />
        <activity android:name=".website.FunctionLambdaActivity" />
        <activity android:name=".website.CollectionActivity" />
    </application>

</manifest>